<div class="footer">
  <div class="footer__box">
    <form class="footer__box-form" action="">
      <div class="footer__box-form-title">Conheça mais sobre nossos serviços:</div>
      
      <div class="footer__box-form-input">
        <input type="text" name="name" id="name" placeholder="Nome" required> <br>
      </div>

      <div class="footer__box-form-input">
        <input type="email" name="email" id="email" placeholder="E-mail" required>
      </div>

      <div class="footer__box-form-button">
        <button type="submit">Fale Conosco</button>
      </div>

    </form>
  </div>
</div>