<div class="content">
    <div class="content__box">
        <div class="content__box-infos">
            <div class="content__box-infos-count count" total="350" ></div>
            <div class="content__box-infos-text">empreendimentos construídos</div>
        </div>

        <div class="content__box-infos">
            <div class="content__box-infos-count count" total="40" ></div>
            <div class="content__box-infos-text">anos de mercado e experiência </div>
        </div>

        <div class="content__box-infos">
            <div class="content__box-infos-count count" total="2000000" ></div>
            <div class="content__box-infos-text">m² em projetos construídos</div>
        </div>
    </div>
    <div class="content__about-us">
        <div class="content__about-us-text">
            <div class="text-title">
                Arquitetos com História e Experiência.
            </div>

            <div class="text-content">
                Nós realizamos desde 2002 projetos e gerenciamento de obras. 
                Com mais de 800 projetos e 2.000.000 de m² construídos, tendo 
                como principal proposta transformar em realidade os sonhos de 
                seus clientes, criando projetos personalizados, unindo a tradição 
                e a modernidade em nossos projetos.
            </div>
        </div>
        <div class="content__about-us-image">
            <img src="./assets/images/img.png" alt="Arquitetura" class="image">
        </div>
    </div>
</div>