.content .content__box {
  height: 229px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}


.content .content__box .content__box-infos .content__box-infos-count {
  font-size: 40px;
  color: #303030;
  font-weight: 600;
}

.content .content__box .content__box-infos .content__box-infos-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #303030;
    font-weight: 400;
    line-height: 28px;
}

.content .content__about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding: 82px 77px 82px 54px;
}

.content .content__about-us .content__about-us-text .text-title {
    font-weight: 500;
    font-size: 40px;
}

.content .content__about-us .content__about-us-text .text-content {
    font-weight: 300;
    font-size: 24px;
    margin-top: 80px;
    width: 700px;
}

.content .content__about-us .content__about-us-image {
    border-radius: 30px;
    overflow: hidden;
}
